* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* import fonts */
@font-face {
    font-family: "Chivo Light";
    src: url(./fonts/Chivo-Light.ttf);
}

@font-face {
    font-family: "Chivo Normal";
    src: url(./fonts/Chivo-Regular.ttf);
}

@font-face {
    font-family: "Chivo Bold";
    src: url(./fonts/Chivo-Bold.ttf);
}

/* set color */
:root {
    --green: #54E6AF;
    --darkgrey: #2C344B;
    --dark: #121725;
    --white: #FFFFFF;
    --lightgrey: #5A668A;
    --greywhite: #C2CBE5;
}

/* Mobile view 375 x 777 */
body {
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3.875em 1.5em;
    height: 100vh;
    background: black;
}

/* background image */
.coverImg {
    position: absolute;
    z-index: -999;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('./assets/mobile/image-host.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    opacity: 0.1;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.8125em;
}

/* main */
.description  {
    height: 24.875em;
}

/* title */
.description__title h1 {
    font-family: "Chivo Light";
    font-size: 1.5em;
    text-align: center;
    height: auto;
    line-height: 1.5em;
    color: var(--white);
    opacity: 0.8;
}

.title-highlight {
    display: block;
    color: var(--green);
}

.description__paragraph {
    padding-top: 1.375em;
    font-family: "Chivo Light";
    font-size: 0.9375em;
    color: var(--greywhite);
    text-align: center;
    line-height: 1.5em;
}


/* companies */
.sponsor__svg-mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    opacity: 0.6;
    padding: 2.25em 0em 3em 0em;
}

.spotify {
    height: 1.1012em;
    width: 3.5em;
}

.apple-podcast {
    height: 1.0625em;
    width: 2.8125em;
}

.google-podcasts {
    height: 0.6875em;
    width: 4.5625em;
}

.pocket-casts {
    height: 0.9375em;
    width: 4.8125em;
}

/* sponsor companies desktop svg */
.sponsor__svg {
    display: none;
}

/* email address & request access */
.container,
.form-group-mobile,
#email,
.access-mobile {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 6.74em;
}

.form-group-mobile{
    height: 2.875em;
}

.form-group-mobile,
#email,
.access-btn-mobile {
    border: none;
    border-radius: 28px;
}

#email {
    height: 100%;
    padding: 0em 2.0625em;
    background: var(--darkgrey);
    font-family: "Chivo Bold";
    font-size: 0.875em;
    color: var(--greywhite);
}

#email:focus {
    outline: none;
}

.access-btn-mobile,
.access-tablet-desktop {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 28px;
    background: var(--green);
    font-family: "Chivo Bold";
    color: var(--dark);
}

.access-tablet-desktop {
    display: none;
}

/* email status label */
.email-label {
    display: none;
}

.access-mobile {
    display: relative;
    height: 2.875em;
    width: 100%;
}

.access-btn-mobile:hover {
    box-shadow: inset 0px 25px 20px 20px rgba(158, 236, 206, 0.856);
}


.green-dots-background {
    display: none;
}

/* tablet 768 x 1024 */
@media screen and (min-width: 768px) {

    body {
        padding: 0em;
        display: block;
    }

    .coverImg {
        background-image: url(./assets/tablet/image-host.jpg);
        width: 491px;
        height: 767px;
        left: 277px;
        top: 0px;
        opacity: 0.7;
    }

    /* header */
    .header {
        display: block;
        position: absolute;
        height: 214px;
        width: 277px;
        left: 0px;
        top: 0px;
        margin-bottom: 0em;
    }

    .pod {
        position: absolute;
        left: 39px;
        top: 50px;
    }

    /* main */
    .description  {
        position: relative;
        height: 509px;
        width: 635px;
        background: #000000;
        left: 39px;
        top: 258px;
        padding-top: 90px;
    }

    .description__title h1 {
        height: 112px;
        text-align: left;
        font-size: 48px;
        font-weight: 300;
        line-height: 56px; 
    }
    
    .description__paragraph {
        max-width: 445px;
        height: 84px;
        padding-top: 31px;
        padding-bottom: 40px;
        text-align: left;
        font-size: 1.125em;
        padding-bottom: 3em;
    }
    .sponsor__svg-mobile {
        display: none;
    }

    /* input form and button group */
    .access-mobile {
        display: none;
    }

    .container {
        position: absolute;
        height: 56px;
        width: 427px;
        top: 360px;
    }

    .form-group-mobile {
        height: 100%;
        width: 100%;
        background: var(--darkgrey);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
    }

    /* email input */
    #email {
        max-width: 228px;
        padding-right: 0em;
    }
   
    /* access button */
    .access-tablet-desktop {
        display: unset;
        height: 46px;
        width: 162px;
    }

    .access-btn-tablet-desktop {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 28px;
        background: var(--green);
        font-family: "Chivo Bold";
        color: var(--dark);
    }

    .access-btn-tablet-desktop:hover {
        box-shadow: inset 0px 25px 20px 20px rgba(158, 236, 206, 0.856);
    }
    

    .sponsor__svg {
        height: 29px;
        width: 536px;
        position: absolute;
        top: 480px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        opacity: 0.6;
    }


    .spotify {
        height: 29px;
        width: 96px;
    }
    
    .apple-podcast {
        height: 29px;
        width: 78px;
    }

    .google-podcasts {
        height: 29px;
        width: 125px;
        padding: 5px;
    }

    .pocket-casts {
        height: 25px;
        width: 130px;
    }

    .green-dots-background {
        display: block;
        position: absolute;
        width: 232px;
        height: 104px;
        background-image: url(./assets/desktop/bg-pattern-dots.svg);
        background-repeat: no-repeat;
        left: 30px;
        top: 920px;
    }
}

/* desktop 1440 x 900 */
@media screen and (min-width: 1400px) {

    body {
        position: relative;
    }

    .container-box {
        height: 640px;
        width: 1275px;
        position: relative;
        left: 165px;
        top: 130px;
    }

    /* background img */
    .coverImg {
        background-image: url(./assets/desktop/image-host.jpg);
        background-size: 962px 680px;
        left: 387px;
        width: 888px;
        height: 640px;
        mix-blend-mode: screen;
    }
    
    /* logo POD */
    .header {
        position: relative;
        width: 387px;
        height: 56px;
        top: -30px;
    }

    .pod {
        left: 0px;
        top: 0px;
    }

    .description {
        position: absolute;
        width: 723px;
        height: 509px;
        padding-top: 88px;
        left: 0px;
        top: 135px;
    }

    .description__title h1 {
        font-size: 52px;
    }

    .google-podcasts {
        height: 29px;
        width: 129px;
    }

    .green-dots-background {
        left: 1043px;
        top: 588px;
    }
}