* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* import fonts */
@font-face {
    font-family: "Chivo Light";
    src: url(./fonts/Chivo-Light.ttf);
}

@font-face {
    font-family: "Chivo Bold";
    src: url(./fonts/Chivo-Bold.ttf);
}

/* set color */
:root {
    --green: #54E6AF;
    --darkgrey: #2C344B;
    --dark: #121725;
    --white: #FFFFFF;
    --lightgrey: #5A668A;
    --greywhite: #C2CBE5;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile view 375 x 777 */
body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3.875em 1.5em;
    height: 100vh;
    background: black;
}

/* background image */
.coverImg {
    position: absolute;
    z-index: -999;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('./assets/mobile/image-host.jpg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 0.13;
}

/* header */
.header {
    margin-bottom: 3.8125em;
}

/* main */
.description  {
    height: 24.875em;
}

/* title */
.description__title h1 {
    font-family: "Chivo Light";
    font-size: 1.5em;
    text-align: center;
    height: auto;
    line-height: 1.5em;
    color: var(--white);
}

.title-highlight {
    display: block;
    color: var(--green);
}

.description__paragraph {
    padding-top: 1.375em;
    font-family: "Chivo Light";
    font-size: 0.9375em;
    color: var(--greywhite);
    text-align: center;
    line-height: 1.5em;
}


/* companies */
.sponsor__svg-mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    opacity: 0.6;
    padding: 2.25em 0em 3em 0em;
}

.spotify {
    height: 1.1012em;
    width: 3.5em;
}

.apple-podcast {
    height: 1.0625em;
    width: 2.8125em;
}

.google-podcasts {
    height: 0.6875em;
    width: 4.5625em;
}

.pocket-casts {
    height: 0.9375em;
    width: 4.8125em;
}

/* sponsor companies desktop svg */
.sponsor__svg {
    display: none;
}

/* email address & request access */
.container,
.form-group-mobile,
#email,
.access {
    width: 100%;
}

.container {
    flex-direction: column;
    justify-content: space-between;
    height: 6.74em;
}

.form-group-mobile{
    height: 2.875em;
}

.form-group-mobile,
#email,
.access2,
.access {
    border: none;
    border-radius: 28px;
}

#email {
    height: 100%;
    padding: 0em 2.0625em;
    background: var(--darkgrey);
    font-family: "Chivo Bold";
    font-size: 0.875em;
    color: var(--greywhite);
}

#email:focus {
    outline: none;
}

.email-label {
    display: none;
}

.access2 {
    display: relative;
    height: 2.875em;
    width: 100%;
}
.access {
    display: block;
    background: var(--green);
    font-family: "Chivo Bold";
    color: var(--dark);
    height: 100%;
}

/* email status label */

/* tablet 768 x 1024 */

/* desktop 1440 x 900 */