* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* import fonts */
@font-face {
    font-family: "Chivo Light";
    src: url(./fonts/Chivo-Light.ttf);
}

@font-face {
    font-family: "Chivo Bold";
    src: url(./fonts/Chivo-Bold.ttf);
}

/* set color */
:root {
    --green: #54E6AF;
    --darkgrey: #2C344B;
    --dark: #121725;
    --white: #FFFFFF;
    --lightgrey: #5A668A;
    --greywhite: #C2CBE5;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile view 375 x 777 */
body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3.875em 1.5em;
    height: 100vh;
    background: black;
}

/* background image */
.coverImg {
    position: absolute;
    z-index: -999;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('./assets/mobile/image-host.jpg');
    background-size:cover;
    background-position: top center;
    opacity: 0.1;
}

/* main */
.description  {
    height: 24.875em;
    padding-top: 3.125em;
}

/* title */
.description__title {
    padding-bottom: 1.813em;

}
.description__title h1 {
    font-family: "Chivo Light";
    font-size: 1.5em;
    text-align: center;
    height: auto;
    line-height: 1.5em;
    color: var(--white);
}

.title-highlight {
    display: block;
    color: var(--green);
}

.description__paragraph {
    padding-top: 1.375em;
    font-family: "Chivo Light";
    font-size: 0.9375em;
    color: var(--greywhite);
    text-align: center;
    line-height: 1.5em;
}


/* companies */
.sponsor__svg-mobile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 327px;
}

.spotify {
    height: 1.1012em;
    width: 3.496em;
}

.apple-podcast {
    height: 1.0625em;
    width: 2.8125em;
}

.google-podcasts {
    height: 0.9375em;
    width: 6em;
}

.pocket-casts {
    height: ;
    width: ;
}

.sponsor__svg {
    display: none;
}
/* email address */

/* button request access */

/* email status label */

/* tablet 768 x 1024 */

/* desktop 1440 x 900 */